h1, h2, h3, h4, h5, h6 {
  color: var(--ink-primary);
  margin-top: 0;
  font-weight: 800;
  line-height: 1.2;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}
p {
  color: var(--ink-secondary);
  line-height: 1.6;
  font-size: 1.1rem;
}
